@font-face {
  font-family: 'kayakregular';
  src: url('fonts/kayakregular.eot');
  src: url('fonts/kayakregular.eot') format('embedded-opentype'),
  url('fonts/kayakregular.woff2') format('woff2'),
  url('fonts/kayakregular.woff') format('woff'),
  url('fonts/kayakregular.ttf') format('truetype'),
  url('fonts/kayakregular.svg#kayakregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'kayaksansbold';
  src: url('fonts/kayaksansbold.eot');
  src: url('fonts/kayaksansbold.eot') format('embedded-opentype'),
  url('fonts/kayaksansbold.woff2') format('woff2'),
  url('fonts/kayaksansbold.woff') format('woff'),
  url('fonts/kayaksansbold.ttf') format('truetype'),
  url('fonts/kayaksansbold.svg#kayaksansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'kayaksanslight';
  src: url('fonts/kayaksanslight.eot');
  src: url('fonts/kayaksanslight.eot') format('embedded-opentype'),
  url('fonts/kayaksanslight.woff2') format('woff2'),
  url('fonts/kayaksanslight.woff') format('woff'),
  url('fonts/kayaksanslight.ttf') format('truetype'),
  url('fonts/kayaksanslight.svg#kayaksanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('fonts/ProximaNovaSemibold.eot');
  src: url('fonts/ProximaNovaSemibold.eot') format('embedded-opentype'),
  url('fonts/ProximaNovaSemibold.woff2') format('woff2'),
  url('fonts/ProximaNovaSemibold.woff') format('woff'),
  url('fonts/ProximaNovaSemibold.ttf') format('truetype'),
  url('fonts/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TimesNewRomanPSMTTimesNewRomanRegular';
  src: url('fonts/TimesNewRomanPSMTTimesNewRomanRegular.eot');
  src: url('fonts/TimesNewRomanPSMTTimesNewRomanRegular.eot') format('embedded-opentype'),
  url('fonts/TimesNewRomanPSMTTimesNewRomanRegular.woff2') format('woff2'),
  url('fonts/TimesNewRomanPSMTTimesNewRomanRegular.woff') format('woff'),
  url('fonts/TimesNewRomanPSMTTimesNewRomanRegular.ttf') format('truetype'),
  url('fonts/TimesNewRomanPSMTTimesNewRomanRegular.svg#TimesNewRomanPSMTTimesNewRomanRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}
